# common
requests~=2.26.0

# style app reqs
beautifulsoup4~=4.10.0
setuptools~=58.0.4
scikit_learn==0.24.2
urlpath==1.1.7
dill==0.3.4
gunicorn==20.1.0
numpy~=1.20.3
fastapi~=0.68.0
uvicorn[standard]==0.15.0
pydantic~=1.8.2
python-multipart

# inflation-in-turkey
cdx_toolkit==0.9.33
lxml==4.7.1
pandas
openpyxl

urllib3~=1.26.7
