# common
requests
selenium
beautifulsoup4

# style app reqs
scikit_learn
urlpath
dill
gunicorn
numpy
fastapi
uvicorn
pydantic
python-multipart

# inflation-in-turkey
cdx_toolkit
lxml
pandas
matplotlib
openpyxl
google
google-cloud-storage
matplotlib

urllib3
