/* .Content {
    margin-top: 72px;
    margin-left: 290px;
} */

.container {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar content'
    'sidebar footer';
  grid-template-columns: 1fr 5fr;
  gap: 20px;
}

.header {
  grid-area: header;
  border-color: black;
}

.header .title {
    text-align: center;
}



.content {
  grid-area: content;
}

.aside {
  grid-area: sidebar;
  background-color: aliceblue;
}

.footer {
  grid-area: footer;
  font-size: x-small;
  background-color: blanchedalmond;
}
